:root{
    --cor-de-fundo: #1E1E1E;
    --verde: #6fff57;
    --branco: #FFFFFF;
    --botao-ativo: #3A3753;
    --botao-inativo: rgba(58,55,94,0.5);
    --textode-fundo: rgba(58,55,94,0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{
    color: var(--verde);
}

.botao{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-radius: 10px;
    border-top: none;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botoes{
    display: block;
}

.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}
 
.abas-textos{
    background-color: var(--verde) ;
    padding: 40px ;
}
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align:center;
    color: var(--verde);
text-transform: uppercase;
}
@media screen end (min-width:768px) {
    .botao{
        display:flex;
    }
    .botao:firs
}
.contador{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contador-digito{
padding: 0 16px;
text-align: center;
min-width: 100px;

}
.contador-digito-numero{
font-size: 80px;
margin: 0;

}
.contador-digito-titulo{
color: var(--verde);
font-size: 20px;
margin: 0;
}
